@media (prefers-color-scheme: light) {
  ::selection{
    color: #f5f5fa;
    background-color: #424242;
  }
  ::-webkit-selection{
    color: #f5f5fa;
    background-color: #424242;
  }
  ::-moz-selection{
    color: #f5f5fa;
    background-color: #424242;
  }
}

@media (prefers-color-scheme: dark) {
  ::selection{
    color: #303030;
    background-color: #f5f5fa;
  }
  ::-webkit-selection{
    color: #303030;
    background-color:#f5f5fa;
  }
  ::-moz-selection{
    color: #303030;
    background-color:#f5f5fa;
  }
}

.widget.archives {
  .widget-archive--list {
    border-radius: var(--card-border-radius);
    box-shadow: var(--shadow-l1);
    background-color: var(--card-background);
  }

  .status-item {
    &:not(:last-of-type) {
      border-bottom: 1.5px solid var(--card-separator-color);
    }
    font-size: 1.4rem;
    padding: 18px 25px;
    display: flex;

    span.year {
      flex: 1;
      color: var(--card-text-color-main);
      font-weight: bold;
    }

    span.count {
      color: var(--card-text-color-tertiary);
    }
  }
}

@media (min-width: 1024px) {
  .article-list--compact.links {
      display: grid;
      grid-template-columns: 1fr 1fr;
      background: none;
      box-shadow: none;
      
      article {
          background: var(--card-background);
          border: none;
          box-shadow: var(--shadow-l2);
          margin-bottom: 8px;
          border-radius: 10px;
          &:nth-child(odd) {
              margin-right: 8px;
          }
      }
  }
}

/**
*   Global font family
*/
:root {
  --code-font-family: "Jetbrains Mono", Menlo, Monaco, Consolas, "Courier New", var(--zh-font-family), monospace;
}