<!-- valine -->
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>

<style>
  .leancloud_visitors {
    color: rgb(181, 181, 181);
  }
</style>

<div id="{{ .Permalink | relURL }}" class="leancloud_visitors" data-flag-title="{{ .Title }}"  style="margin-top: 15px;">
  <span class="post-meta-item-text">文章阅读量 </span>
  <span class="leancloud-visitors-count">0</span>
  <p></p>
</div>

<div id="vcomments"></div>

<script>
    new Valine({
      el: '#vcomments',
      appId: '{{ .Site.Params.comments.valine.appId }}',
      appKey: '{{ .Site.Params.comments.valine.appKey }}',
      avatar:'{{ .Site.Params.comments.valine.avatar }}',
      placeholder: '{{ .Site.Params.comments.valine.placeholder }}',
      visitor: {{ .Site.Params.comments.valine.visitor }},
      recordIP: true
    })
</script>